@use "../utils/variebles" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  
    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1320px) {
        width: 1320px;
    }
}

body {
background-color: var(--bg);
 
}