<header class="header">
  <div class="container">
    <div class="header__container">
      <h1 class="header__logo">N<span>&</span>M</h1>

      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="./hero.html" class="header__link" data-i18n="home"
              >Главная</a
            >
          </li>
          <li class="header__item">
            <a href="" class="header__link" data-i18n="services">Услуги</a>
          </li>
          <li class="header__item">
            <a href="" class="header__link" data-i18n="portfolio">Портфолио</a>
          </li>
          <li class="header__item">
            <a href="" class="header__link" data-i18n="about">Обо мне</a>
          </li>
          <li class="header__item">
            <a href="" class="header__link" data-i18n="reviews">Отзывы</a>
          </li>
          <li class="header__item">
            <a href="" class="header__link" data-i18n="contacts">Контакти</a>
          </li>
        </ul>
      </nav>

      <div class="language-switcher">
        <div class="language-glow"></div>

        <button class="language-btn active" data-lang="ru">RU</button>

        <button class="language-btn" data-lang="en">EN</button>
      </div>

      <div class="card">
        <div class="label" style="gap: 18px">
          <label class="toggle">
            <input id="toggle1" type="checkbox" />
            <span class="knob">
              <svg class="toggle__sun" viewBox="0 0 24 24">
                <circle cx="12" cy="12" r="4"></circle>
                <path
                  d="M12 2v2M12 20v2M4.93 4.93l1.41 1.41
               M17.66 17.66l1.41 1.41M2 12h2M20 12h2
               M4.93 19.07l1.41-1.41M17.66 6.34l1.41-1.41"
                />
              </svg>

              <svg class="toggle__moon" viewBox="0 0 24 24">
                <path
                  d="M21 12.8A8.5 8.5 0 1 1 11.2 3
               6.5 6.5 0 0 0 21 12.8z"
                />
              </svg>
            </span>
            <span class="bg"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- <div class="header-contact">
        <ul class="header-contact__list">
          <li class="header-contact__item">
            <svg class="header-contact__icon">
              <use href="../img/icons/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </li>
          <li class="header-contact__item">
            <svg class="header-contact__icon">
              <use href="../img/icons/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </li>
          <li class="header-contact__item">
            <svg class="header-contact__icon">
              <use href="../img/icons/symbol-defs.svg#icon-tiktok"></use>
            </svg>
          </li>
        </ul>
      </div> -->
