@use "../utils/mixin" as *;
@use "../utils/variebles" as *;

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border);
}

.header__container {
  @include flex-position($horizontally: space-between);
}
.header-contact {
}
.header-contact__list {
  @include flex-position($gap: 30px);
}
.header-contact__item {
}
.header-contact__icon {
  fill: var(--text);
  width: 25px;
  height: 25px;
}
.header__logo {
  font-family: "Playpen Sans", cursive;
  font-weight: 200;
  color: var(--text);

  font-size: 40px;

  span {
    color: mix(#fff, #e91e63, 85%);
    font-size: 25px;
    font-weight: 300;
    text-shadow:
      -0.0075em 0.0075em 0 mix(#fff, #e91e63, 94%),
      0.005em 0.005em 0 mix(#fff, #e91e63, 60%),
      0.01em 0.01em 0 mix(#fff, #e91e63, 62%),
      0.015em 0.015em mix(#fff, #e91e63, 64%),
      0.02em 0.02em 0 mix(#fff, #e91e63, 66%),
      0.025em 0.025em 0 mix(#fff, #e91e63, 68%),
      0.03em 0.03em 0 mix(#fff, #e91e63, 70%),
      0.035em 0.035em 0 mix(#fff, #e91e63, 72%);
  }
}

.header__nav {
   flex: 1;
  display: flex;
  justify-content: center;
  min-width: 0;
}
.header__list {
   @include flex-position($gap: 35px);
  flex-wrap: nowrap;
}
.header__item {
  align-items: center;
}
.header__link {
  font-family: "Playpen Sans", cursive;
  font-size: 18px;
  color: var(--text);
   position: relative;
}

.header__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 0;
  height: 2px;
  background: var(--button-glow-3);
  border-radius: 10px;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.header__link.active::after {
  width: 100%;
}